<!-- <p>fert works!</p>
{{name}}


< <img [src]="image" > 









<input type="text" [(ngModel)]="text"><br>

{{text}} -->


<!-- 
<div>
        <h1>{{user.name}}</h1>
        <h3>{{user.age}}</h3>
        <img [src]="user.image" >


</div>



<input type="text" [(ngModel)]="Myname">

<button (click)="change()">change</button> -->




<!-- <p *ngIf="word==false">hello works</p> -->





<!-- 

<img *ngIf="word"   [src]="url" >


<button (click)="word=!word">click</button> -->
<!-- <div *ngFor="let item of cars">
<ng-container *ngIf="item.age >20">


    <h1>{{item.name}}</h1>
    <p>{{item.age}}</p>
</ng-container> -->
   
<!-- </div> -->


<!-- <div [ngSwitch]="color">

    <p *ngSwitchCase="'red'">this is red</p>
    <p *ngSwitchCase="'blue'">this is blue</p>
    <p *ngSwitchCase="'yellow'">this is yellow</p>
    <p *ngSwitchDefault="">null</p>
</div> -->



<!-- <div [ngStyle]="{background:user.color}">
    <h1 [ngStyle]="{color:user.ne}">{{user.name}}</h1>
    <p>{{user.age}}</p>

</div> -->
<!-- <div *ngFor="let itmes of students" [ngClass]="{ 'bg-danger':itmes.age } ">
    <h3>{{itmes.name}}</h3>
    <p>{{itmes.age}}</p>
</div> -->



<router-outlet></router-outlet>